@model DVDRental.Models.DVDTitle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DVDTitle</h4>
<hr />

<script>
     $('.new_studio').hide();

 $('.sign-in__button').click(function(e) {
   e.preventDefault();
   $(this).addClass('active');
   $('.new_studio').removeClass('active');
   $('.new_studio').hide();
 });

 $('.register__button').click(function(e) {
   e.preventDefault();
   $(this).addClass('active');
   $('.sign-in__button').removeClass('active');
   $('.register__form').show();
   $('.login__form').hide();
   $('#edit-firstname').focus(); //Should appear after $('.register__form').show(); because if it's before that, the register form doesn't exist in the DOM
 });
</script>

<div class="row">
    <div class="col-md-4">
        <button class="btn sign-in__button ">
          Sign in        
        </button>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>

            <div class="new_studio">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateReleased" class="control-label"></label>
                <input asp-for="DateReleased" class="form-control" />
                <span asp-validation-for="DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandardCharge" class="control-label"></label>
                <input asp-for="StandardCharge" class="form-control" />
                <span asp-validation-for="StandardCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenaltyCharge" class="control-label"></label>
                <input asp-for="PenaltyCharge" class="form-control" />
                <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryNumber" class="control-label"></label>
                <select asp-for="CategoryNumber" class ="form-control" asp-items="ViewBag.CategoryNumber"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudioNumber" class="control-label"></label>
                <select asp-for="StudioNumber" class ="form-control" asp-items="ViewBag.StudioNumber"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProducerNumber" class="control-label"></label>
                <select asp-for="ProducerNumber" class ="form-control" asp-items="ViewBag.ProducerNumber"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
