@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ropey DVD's Dashboard</h1>
   <body>

       <table>

       <tr>

        <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/4514/4514934.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Search a DVD by entering actor's last name</p>
        <a href="/ActorDVD" class="btn btn-primary">Search DVD</a>
        </div>
       </div>
       </td>

       <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1036/1036762.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Search a DVD by entering actor's last name which is available on shelv</p>
        <a href="/DVDonShelves" class="btn btn-primary">DVD on Shelves</a>
        </div>
       </div>
       </td>

       <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3029/3029373.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Enter member's last name to view their loan history of past 31 days </p>
        <a href="/MemberLoans" class="btn btn-primary">Search member's loan</a>
        </div>
       </div>
       </td>

        <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Detailed info of DVDs including its producer, studio, cast members with released date</p>
        <a href="/DVDDetails" class="btn btn-primary">View all DVDs</a>
        </div>
       </div>
       </td>

       </tr>

       </table>
   </body>
</div>
