@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ropey DVD stores members information who borrows DVDs from this shop. We do not collect any other information from the users. Thank you</p>
