<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ropey DVD</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LastPasal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ropey DVD</a>
                @if (User.IsInRole("User"))
                {
                    <tr>
                    <td class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Producers" asp-action="Index">Producers</a>
                    </td>
                    <td class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="DVDTitles" asp-action="Index">DVDTitles</a>
                    </td>
                    <td class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="MembershipCategories" asp-action="Index">MemberShip Categories</a>
                    </td>
               

                    <td class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="RoleManager" asp-action="Index">RoleManager</a>
                    </td>
                    <td class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="OldCopies" asp-action="Index">Old Copies</a>
                    </td>
                    </tr>
                }

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
      
    </header>

    
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a class="nav-item">
                &copy; 2022 - Ropey DVD - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
